*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    background-color: black;
    color: #cdcdcd;
    display: flex;
    flex-direction: column;
}




header{
}
header > div{
    text-align: right;
    vertical-align: middle;
    margin-right: 8px;
}
.header-button{
    color: white;
    margin-top: 10px;
    background-color: rgb(65, 65, 65);
    border-style: none;
    border-radius: 2px;
    padding: 5px 8px;
}




main{
    height: calc(100vh - 38px - 60px);
    overflow: hidden;
    padding: 30px 0px;
}
.main-container{
    height: 100%;
    position: relative;
    
}
.users-container{
    display: flex;
    align-content:flex-start;
    flex-wrap: wrap;
    flex-basis: 0;
    height: 100%;
    justify-content: center;
}
.users{
    height: calc(100% / 5);
    border: 4px solid rgb(0, 0, 0);
    min-height: 100px;
    max-height: 150px;
    min-width: 200px;
    max-width: 250px;
    width: calc(100% / 5 - 40px);
    flex-shrink: 0;
    position: relative;   
    font-size: 13px;
}
.mic-on{
    border-color: rgb(175, 241, 51);
}
.users-name{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 3px 10px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-microphone-alt-slash{
    vertical-align: middle;
}



.pagination{
    background-color: rgba(0, 0, 0, 0.219);
    position: absolute;
    transform: translatey(-50%);
    top: 50%;
    z-index: 99;
    padding: 10px ;
}
.arrow-left{
    top: 50%;
}

.arrow-right{
    right: 0px; 
}

.arrow-icon{
    font-size: 50px;
}
.right{
    color: rgb(0, 155, 252);
}











footer{
    background-color: #232427;
    width: 100%;
}
.footer-container{
    align-items: center;
    min-height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.icon-text-container{
    text-align: center;
    padding: 0px 20px;
}

.footer-mute-stop-video, .footer-tools, .footer-end-meeting{
    display: flex;
    height: 100%;
    
}
.fa-microphone, .fa-video{
    font-size: 20px;
    text-align: center;
}
 .footer-tools [class*="fa-"]{
    font-size: 20px;
    text-align: center;
}

.fa-chevron-up{
    font-size: 15px;
    
    
}
.footer-end-meeting > div{
    color: red;
    background-color: #4B4C4F;
    padding: 19px 10px;
    height: 100%;
}