*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #cdcdcd;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(48, 48, 48);
}
header > div{
    text-align: right;
    vertical-align: middle;
}
.header-button{
 margin: 20px 0px;
}


main{
    height: calc(100vh - 59px - 60px);
}
.users-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.users{
    border: 1px solid rgb(185, 185, 185);
    min-width:250px ;
    min-height: 100px;
    width: calc(100% / 5 - 40px);
    
}
















footer{
    background-color: rgb(48, 48, 48);
    width: 100%;
}
.footer-container{
    align-items: center;
    min-height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-container > div{
}